html {
    font: normal 16px sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    background: black;
}

body {
    font-family: 'Work Sans', 'SF Pro Text', 'Roboto', 'Helvetica Neue', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul,
nav {
    list-style: none;
}

h4.logo {
    padding: 20px;
}

h3.normal {
    font-weight: bold;
    color: white;
}

h3.topic {
    color: #18faff;
    font-size: 39px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    padding-bottom: 35px;
}

p.textDescription {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    padding-bottom: 20px;
}

.acknowledgements {
    font-size: 31px;
    color: #18faff;
}

div.imageBlock {
    padding-top: 100%;
    padding-bottom: 25px;
    width: 100%;
    border-radius: 100%;
}

a {
    color: #79f9fe;
    cursor: pointer;
    transition: 0.2s all ease;
}

a:hover {
    text-decoration: none;
    color: pink;
}

a:active {
    text-decoration: none;
    color: purple;
}

.symbolLine
{
    text-decoration: none;
    color: #18faff;
    cursor: pointer;
}

.lowerPadding {
    padding-top: 15px;
    padding-bottom: 45px;
}

svg.lowerPadding {
    padding-bottom: 55px;
}

a > span.logoText {
    color: white;
    font-weight: bold;
}

a>span.logoText.highlight {
    color: #79f9fe;
}

a.btn {
	display: block;
    text-align: center;
    border-radius: 6px;
    height: 54px;
    width: 200px;
    padding: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.53);
    /*border: solid 1px #b8baee;*/
    background-color: transparent;
    color: #b8baee;
    font-size: 15px;
    margin: 0 7px;
    cursor: pointer;
    outline: none;
}

a.btn-primary {
    background-color: #0911a3;
    color: white;
    padding-bottom: 20px;
    font-weight: bold;
}

div.signup-buttons {
    text-align: center;
}

div.signup-buttons > a {
    display: inline-block;
}

a.btn-signup {
    background-color: #0911a3;
    color: white;
    padding-bottom: 20px;
    border-color: #007bff;
    width: 100px;
    font-weight: bold;
}

a.btn-signup:hover {
    background-color: #007bff;
}

a.btn-login {
    box-shadow: none;
    width: 100px;
    color: #18faff
}

a.btn-login:hover {
    color: pink;
}

a.btn-login:active {
    color: purple;
}

a.btn-secondary {
    background-color: transparent;
    color: white;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

section.main {
	background: #252448;
}

section.secondary {
    background: black;
    padding-bottom: 80px;
}


.detail-section>div {
    padding: 30px;
}

.link-section>div {
    padding: 15px;
}

.data-section>div {
    padding: 15px;
}

svg.icon-download-data {
    padding-left: 25px;
}

.acknowledgements {
    background: black;
    padding-top: 35px;
}

.acknowledgements>div {
    padding: 30px;
    text-align: center;
}

.acknowledgements>div>hr {
    margin: 10px auto;
}

.logo-section {
    background: black;
    text-align: center;
    padding: 10px 0;
}

.logo-section.last>div {
    height: 200px;
    padding-bottom: 45px;
}

.logo-section>div {
    padding: 5px;
}

p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

p.center {
    text-align: center;
}

p.left {
    text-align: left;
}

use.path {
  border: solid 3.3px #18faff;
}

.qtim-logo {
    cursor: pointer;
    text-decoration: none;
    color: #efefef;
}

.qtim-logo h3 {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}

.qtim-logo p {
    margin: 0.35714rem;
}

.logo-img {
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    display: block;
    align-items: center;
    justify-content: center;
}

.logo-img > img {
    max-width: 265px;
    min-height: 30px;
}

.logo-img.lowerPadding {
    padding-top: 40px;
}

.ohif-logo .ohif-icon {
    float: left;
    display: inline-block;
    fill: transparent;
    height: 20px;
    margin: 0 8px 0 0;
    width: 30px;
}

.ohif-logo .ohif-logo-text {
    float: left;
    display: inline-block;
    font-family: "Sanchez";
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-decoration: none;
}


